 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/eye.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 955px;
}

.u-section-1 .u-text-1 {
  font-family: StretchProBasicDemo;
  background-image: none;
  font-size: 4.6875rem;
  margin: 355px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: GothamBold;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}@font-face {
  font-family: 'StretchProBasicDemo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/StretchProBasicDemo.otf);
}@font-face {
  font-family: 'GothamBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GothamBold.ttf);
}